body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 20px;
  }
  
  h1 {
    text-align: center;
    color: #007bff;
  }
  
  .input-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  input {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 200px;
  }
  
  button {
    padding: 8px 12px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 10px; /* Добавляем отступ */
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .device {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .device-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .device-name {
    font-weight: bold;
  }
  
  .nodes {
    margin-top: 10px;
    padding-left: 20px;
    border-left: 2px solid #007bff;
  }
  
  .node {
    margin: 5px 0;
  }
  
  .node-name {
    margin-right: 10px;
  }